<html>
  <head>
    <link rel="stylesheet" href='static/main.css' />
  </head>

  <body>
    <div class='outerflex'>
      {% if invalid_filetype %}
      Invalid filetype. Only Text (.txt), WebVTT (.vtt), and SubRip (.srt) are accepted
      {% endif %}

      <form action='/upload' method='POST' enctype='multipart/form-data' >
        <input type='file' name='file' />
        <input type='submit' value='Submit' />
      </form>
    </div>
  </body>
</html>
