<html>
  <head>
    <link rel="stylesheet" href='static/main.css' />
  </head>

  <body>
    <div class='outerflex'>
      <form>
        <button formaction='/' formmethod='GET'>Back to file selection</button>
      </form>
      File {{filename}} is selected

      <div class='innerflex'>
        <form>
          {% if convert_from == 'WebVTT' %}
          <button name='convert_button' value='Text'
            formaction='/download' formmethod='POST'>Convert to Text</button>
          {% endif %}

          {% if convert_from == 'Text' or convert_from == 'SubRip' %}
          <button name='convert_button' value='WebVTT'
            formaction='/download' formmethod='POST'>Convert to WebVTT</button>
          {% endif %}

          {% if convert_from == 'Text' or convert_from == 'WebVTT' %}
          <button name='convert_button' value='SubRip'
            formaction='/download' formmethod='POST'>Convert to SubRip</button>
          {% endif %}
        </form>
      </div>
    </div>
  </body>
</hmtl>
